wsdl/BudgetService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. -->
<definitions targetNamespace="http://budget.kapa.org/" name="BudgetService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://budget.kapa.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://budget.kapa.org/" schemaLocation="BudgetService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="deleteObjects">
    <part name="parameters" element="tns:deleteObjects"/>
  </message>
  <message name="getRecentEvents">
    <part name="parameters" element="tns:getRecentEvents"/>
  </message>
  <message name="getRecentEventsResponse">
    <part name="parameters" element="tns:getRecentEventsResponse"/>
  </message>
  <message name="storeObjects">
    <part name="parameters" element="tns:storeObjects"/>
  </message>
  <message name="getEventsInRange">
    <part name="parameters" element="tns:getEventsInRange"/>
  </message>
  <message name="getEventsInRangeResponse">
    <part name="parameters" element="tns:getEventsInRangeResponse"/>
  </message>
  <message name="getAmount">
    <part name="parameters" element="tns:getAmount"/>
  </message>
  <message name="getAmountResponse">
    <part name="parameters" element="tns:getAmountResponse"/>
  </message>
  <portType name="BudgetService">
    <operation name="deleteObjects">
      <input wsam:Action="http://budget.kapa.org/BudgetService/deleteObjects" message="tns:deleteObjects"/>
    </operation>
    <operation name="getRecentEvents">
      <input wsam:Action="http://budget.kapa.org/BudgetService/getRecentEventsRequest" message="tns:getRecentEvents"/>
      <output wsam:Action="http://budget.kapa.org/BudgetService/getRecentEventsResponse" message="tns:getRecentEventsResponse"/>
    </operation>
    <operation name="storeObjects">
      <input wsam:Action="http://budget.kapa.org/BudgetService/storeObjects" message="tns:storeObjects"/>
    </operation>
    <operation name="getEventsInRange">
      <input wsam:Action="http://budget.kapa.org/BudgetService/getEventsInRangeRequest" message="tns:getEventsInRange"/>
      <output wsam:Action="http://budget.kapa.org/BudgetService/getEventsInRangeResponse" message="tns:getEventsInRangeResponse"/>
    </operation>
    <operation name="getAmount">
      <input wsam:Action="http://budget.kapa.org/BudgetService/getAmountRequest" message="tns:getAmount"/>
      <output wsam:Action="http://budget.kapa.org/BudgetService/getAmountResponse" message="tns:getAmountResponse"/>
    </operation>
  </portType>
  <binding name="BudgetServicePortBinding" type="tns:BudgetService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="deleteObjects">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="getRecentEvents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="storeObjects">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="getEventsInRange">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAmount">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="BudgetService">
    <port name="BudgetServicePort" binding="tns:BudgetServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

